<div class="grid grid-cols-2 gap-3">
    <label class="form-control">
        <span class="label-text">Calories</span>
        {{ macro_form.calories }}
    </label>
    <label class="form-control">
        <span class="label-text">Protein (g)</span>
        {{ macro_form.protein }}
    </label>
    <label class="form-control">
        <span class="label-text">Carbs (g)</span>
        {{ macro_form.carbs }}
    </label>
    <label class="form-control">
        <span class="label-text">Fat (g)</span>
        {{ macro_form.fat }}
    </label>
</div>
