<!DOCTYPE html>
<html lang="en" data-theme="light">
    {% load static %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}HomeBase{% endblock %}
        </title>
        <link rel="stylesheet" href="{% static 'css/output.css' %}">
        <link rel="manifest" href="{% static 'manifest.json' %}">
        <meta name="theme-color" content="#570df8">
        <script src="https://unpkg.com/htmx.org@2.0.4"></script>
        <script defer src="https://unpkg.com/alpinejs@3/dist/cdn.min.js"></script>
    </head>
    <body class="min-h-screen bg-base-200"
          hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
        <main class="container mx-auto p-4">
            {% block content %}{% endblock %}
        </main>
        <script>
            if ("serviceWorker" in navigator) {
                navigator.serviceWorker.register("{% static 'serviceworker.js' %}");
            }
        </script>
    </body>
</html>
